<div class="manager-container">
    <div class="header-container">
        <div class="header-left">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Profile</mat-label>
                <mat-select>
                    <mat-option value="1">testing</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
        <div class="header-mid">
            <div class="app-to-link-to">
                <h2 class="app-name">MyApp</h2>
                <h3 class="app-path">C:/Users/jonathan.mcdonnell/dtfghgfdghjkdfsfs</h3>
            </div>
        </div>
        <div class="header-right">
            <button mat-fab class="start">
                <mat-icon>play_arrow</mat-icon>
            </button>
        </div>
    </div>

    <div class="dashboard-container"></div>
</div>
