<mat-accordion multi="true">
    <mat-expansion-panel  expanded="true" class="mat-elevation-z0" >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Applications
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Hey im inside this thing woohoo</p>
    </mat-expansion-panel>
    
    <mat-expansion-panel expanded="true" class="mat-elevation-z0" >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Packages
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Hey im inside this thing woohoo</p>
    </mat-expansion-panel>
</mat-accordion>
